<section class="section publications-section">
  <!--<h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>-->
  <h2 class="section-title">Publications</h2>

  <div class="table">
    <!-- Ph.D. Thesis -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/SU_Seal_Red_resized.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          Learning and exploring the compositional structure of 3D data
        </span><br>
        <span class="summary">
          <b>Minhyuk Sung</b><br>
          Ph.D. Thesis. Stanford University. 2019.<br>
          <a href="https://searchworks.stanford.edu/view/13333384" target="_blank">Link</a>
        </span>
      </div>
    </div>

</section><!--//section-->
