@font-face {
    font-family: CMR;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
  }
  @font-face {
    font-family: CMB;
    src: url(../fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
  }


.LatexTitle{
    font-family: CMR;
    font-size: 30px;
    padding-top: 1vh;
    text-align: center;
    margin-bottom: 5px;
}
.LatexDate{
    font-family: CMR;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
}
.Margins{
    padding-left: 21%;
    width: 58%;
}
.BodyText{
    font-family: CMR;
    font-size: 20px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 45px;
    line-height: 130%;
}

.footerSize{
    height: 30vh;
    width: 100%;
}
