.LatexTitle{
    font-family: 'Spectral', serif;
    font-size: 30px;
    padding-top: 1vh;
    text-align: center;
    margin-bottom: 5px;
}
.LatexDate{
    font-family: 'Spectral', serif;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
}
.Margins{
    padding-left: 21%;
    width: 58%;
}
.BodyText{
    font-family: 'Spectral', serif;
    font-weight: 300;
    font-size: 14px;
    text-align: Left;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 130%;
}
.DivText{
    font-family: 'Spectral', serif;
    font-weight: 300;
    font-size: 12px;
    text-align: Left;
}
.footerSize{
    height: 10vh;
    width: 100%;
}
