---
---
<!doctype html>
<html>
  <head>
    a:link {
  color: #0000c7;
  background-color: transparent;
  text-decoration: none;
} 
  
a:visited {
  color: #0000c7;
  background-color: transparent;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}

    <link rel="stylesheet" href="./assets/css/style.css">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="Margins">
      <p class="LatexTitle">{{ page.title }}</p>
      {% if page.date %} <p class="LatexDate">{{ page.date }}</p> {% endif %}
 

      
      {{ content }}


    </div>
  </body>
  <footer class="footerSize">

  </footer>
</html>
